body {
    font-family: Courier, monospace; /* Set the font to Courier */
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #000; /* Set the background color to black */
    color: #fff; /* Set all text color to white */
}

h1 {
    color: #fff; /* Set header text color to white */
}

.age-timer {
    font-size: 2em;            /* Adjust the font size to make it prominent */
    color: #fff;               /* Set the text color to white */
    text-align: left;        /* Center the text within the parent container */
    margin-top: 20px;          /* Add some margin on top to create space (adjust as needed) */
    font-family: Courier, monospace; /* Set the font family to Courier */
}
